.nju-list-view
{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;

    li
    {
        display: block;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        overflow-x: hidden;
    }
}

.nju-list-view.striped
{
    li:nth-child(2n+1)
    {
        background: @nju-striped-color;
    }
}
